services:
    -
        class: Keboola\ErrorControl\Tests\AssertNotNullTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '~Call to an undefined static method Keboola\\ErrorControl\\Tests\\EventListener\\ExceptionListenerTest\:\:assertMatchesRegularExpression\(\)\.~'
